footer {
  border-top: 1px solid #c0c0c0;
}

footer p {
  text-align: center;
  color: #a9a9a9;
}

footer a {
  color: black;
  opacity: 0.6;
}

footer a:hover {
  color: #a9a9a9;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

.nav a {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.05em;
  margin: 0 1em 0 1em;
}
