header {
  border-bottom: 2px solid #c0c0c0;
  text-align: center;
}

#title-container {
  border-bottom: 2px solid #c0c0c0;
  background-color: white;
}
.logo {
  width: 20%;
  margin-bottom: 5px;
}

.headerbar {
  z-index: 1;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar a {
  color: #a9a9a9;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0 1em 0 1em;
  font-size: 20px;
}

.is-fixed #navbar-fix {
  background-color: white;
  opacity: 0.95;
  /* border-bottom: 1px solid #c0c0c0; */
}

/* The sticky class is added to the headerbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  width: 100%;
  opacity: 0.95;
  background-color: white;
}

.sticky-title {
  font-size: 30px;
}

.sticky-nav-link {
  font-size: 16px !important;
}

/* ここからはスマホ用のCSS */
@media (max-width: 768px) {
  header {
    display: flex;
  }
  #container h2 {
    font-size: 20px;
  }
  .title {
    font-size: 37px;
    padding-right: 23px;
  }
  button {
    justify-content: flex-end;
  }
  #title-container {
    border: none;
    text-align: right;
    border: none;
    width: 100%;
  }
  .bg-light {
    background-color: white !important;
  }
  .is-fixed #navbar-fix {
    opacity: unset;
  }
  .navbar-collapse {
    position: absolute;
    right: calc(100% - 5.5em);
    top: 101%;
    background: white;
    opacity: unset;
    z-index: 2;
    width: 100vw;
    opacity: 0.95;
  }
}
