@import 'header.css';
@import 'container.css';
@import 'footer.css';
@import 'products.css';
@import 'booking.css';

.products-container {
  margin-top: 26px;
  text-align: center;
}

.card {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* ここからスマホのCSS */
@media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
}
