@import 'header.css';
@import 'container.css';
@import 'footer.css';
@import 'products.css';
@import 'booking.css';
@import 'main.css';

.service-box ul {
  padding: unset;
}

.price {
  text-align: right !important;
}

#services {
  margin-top: 26px;
}

#services h2 {
  text-align: center;
}

.service-box {
  margin-bottom: 20px;
}

.service-section {
  margin-top: 30px;
}

/* ここからスマホのCSS */
@media (max-width: 768px) {
  .service-section {
    text-align: center;
  }
}
